spring-debug/src/main/resources/META-INF/spring-testTag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.springframework.org/schema/debug/spring-testTag"
		xmlns:tns="http://www.springframework.org/schema/debug/spring-testTag"
		elementFormDefault="qualified">
	<element name="testCustomTagObject">
		<complexType>
			<attribute name ="id" type = "string"/>
			<attribute name ="userName" type = "string"/>
		</complexType>
	</element>
</schema>
